:root{
    --maintext:#FFD47E;
    --maincolor:#141416;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    background:wheat;
    font-family: Arial, Helvetica, sans-serif;
    font-size:16px;
}
body{
    width: 100%;
    height: 1900px;
    background-image: url("introbg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    position: relative;
}
#header{
    height: 70px;
    background: var(--maincolor);
    position: relative;
}
#header .logo{
    height: 100%;
    width: 500px;
    float:left;
}
#header .logo img{
    height: 60px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#header .menu{
    height:70px;
    width: 50%;
    position: absolute;
    right: 0;
    float: left;
    z-index: 20;
}
#header .menu>ul{
    height:100%;
    list-style-type:none;
}
#header .menu>ul>li{
    height:100%;
    width: 150px;
    float:left;
    line-height: 70px;
    padding:0 15px;
    position: relative;
}
#header .menu>ul>li>a{
    text-decoration: none;
    text-transform: uppercase;
    color:white;
    font-weight: bold;
    font-size:0.9rem;
}
#header .menu>ul>li span{
    font-size: 0.6rem;
}
#header .menu>ul>li:hover >a{
    color: var(--maintext);
    text-shadow: 1px 1px 2px black, 0 0 30px rgb(219, 222, 238), 0 0 10px rgb(144, 161, 216);
    animation: blurFadeInOut 2s ease-in-out backwards;
}

@keyframes blurFadeInOut {
    0% {
      opacity: 0.2;
      transform: scale(1.3);
    }
    20%, 75% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0.2;
      transform: scale(0);
    }
  }
  
#header .menu>ul>li>ul{
    display:none;
    position: absolute;
    width:220px;
    left:0;
    background:var(--maincolor);
    list-style-type: none;
}
#header .menu>ul>li:hover >ul{
    display:block;
    padding-top:5px;
    padding-bottom: 5px;
}
#header .menu>ul>li>ul>li{
    height: 45px;
    line-height: 45px;
    padding-left:10px;
    padding-right:10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color:white;
}
#header .menu>ul>li>ul>li>a{
    color:white;
    text-decoration: none;
}

#header .menu>ul>li>ul>li:hover >a{
    color: rgb(243, 208, 134);
    text-shadow: 1px 1px 2px black, 0 0 30px rgb(219, 222, 238), 0 0 10px rgb(144, 161, 216);
}
#char{
    width: 100%;
    height: 670px;
    background-image: url("bgcharliyue.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;   
}
#char::before{
    content: "";
    width: 100%;
    height: 670px;
    background-image: url("bgchar2.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
}
#char>img{
    height: 640px;
    width: auto;
    position: absolute;
    bottom: 0;
    right: 80px;
    z-index: 2;
}
#char .data{
    width: 600px;
    height: auto;
    position: absolute;
    left: 200px;
    top: 200px;
    z-index: 3;
}
#char .data::before {
    display: block;
    content: '';
    width: 180px;
    height: 4px;
    background: var(--maintext);
}
#char .data .name>img{
    height: 140px;
    width: auto;
}
#char .data .cv{
    width: 350px;
    height: 50px;
    text-align: center;
    background-image: url("cvbg.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
#char .data .cv>span{
    color: var(--maincolor);
    line-height: 50px;
    font-size: 1.5rem;
}
#char .data .cv>a>img{
    position: absolute;
    right: 0;
    width: 50px;
    height: 50px;
}
#char .data .infor{
    width: 530px;
    height: 155px;
    margin: 20px 0;
    position: relative;
    background-color: rgba(31, 30, 30, 0.452);
}


#char .data .infor .scrollbar .force-overflow>p{
    color: white;
    font-size: 17px;
    
}
.scrollbar {
    float: left;
    height: 140px;
    width: 500px;
    overflow-y: scroll;
    position: absolute;
    right: 5px;
    top:5px;
    padding: 20px;
    
}

.force-overflow {
    min-height: 200px;
}
#style-1::-webkit-scrollbar {
    width: 6px;
    background-color: rgba(34, 34, 34, 0.144);
    border-radius: 20px;
}
#style-1::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.226);
    border-radius: 20px;
}
#style-1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #8686862f;
}
#char .data .infor::before{
    content: "";
    position: absolute;
    left: 15px;
    top: 20px;
    height: 20px;
    width: 20px;
    background-image: url("sign1.png");
}
#map{
    width: 100%;
    height: auto;
}
#map .maptop{
    height: 200px;
    text-align: center;
    padding-bottom:30px;
    
}
#map .maptop a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 1px 1px 2px black, 0 0 30px rgb(219, 222, 238), 0 0 10px rgb(144, 161, 216);
    font-size: 3rem;
    font-weight: 500;
    color: white;
    text-decoration: none;
    line-height: 200px;

}
#map .area{
    width: 100%;
    height: 220px;
    background-size: auto 220px;
    background-repeat: no-repeat;
    float: left;
    position: relative;
}
#map .area .sign{
    display: none;

}
#map .area .sign>a>img{
    height: 210px;
    width: auto;
    position: absolute;
    right: 0;
    bottom: 0;
}
#map .area .areaname{
    width: 100%;
    text-align: center;
    display: block;
}
#map .area .areaname>a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
    color: white;
    text-decoration: none;
    line-height: 200px;
    text-shadow: 1px 1px 2px black, 0 0 30px rgb(219, 222, 238), 0 0 10px rgb(144, 161, 216);
}
#map .area:hover ::before{
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(52, 73, 94, 0.3);
}
#map .area:hover{
    animation: zoom 2s ;
    border: white solid 5px;
}
@keyframes zoom {
    0%{background-size: 100% 100%;}
    100%{background-size: 110% 110%;    }
}

#map .area:hover .sign{
    display: block;
}

#footer{
    position: absolute;
    bottom: 0;
    margin-top: 25px;
    height: 300px;
    background: var(--maincolor);

}
#footer .left{
    width: 50%;
    height: 100%;
    padding: 120px 0 0 170px;
    float: left;
}
#footer .left>img{
    height: 60px;
    width: auto;
    float: left;
    margin: 0 15px;
}
#footer .right{
    width: 50%;
    height: 100%;
    padding: 60px 150px 0 20px;
    float: left;
}
#footer .right>div{
    width: 100%;
    line-height: auto;
    margin: 10px 0;
}
#footer .right .cs>a{
    font-size: 1rem;
    color: white;
    border-left: white solid 2px;
    padding: 0 8px;
    margin: 0 5px 0 0;
    line-height: 1.5;
}
#footer .right .mr>a{
    text-decoration: none;
    font-size: 0.9rem;
    color:rgb(158, 158, 158);
}
